body {
    background-color: #DFF3E4;
}

.btn {
    background-color: #101935;
}

#random-fight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px;
    margin-bottom: 5px;
    border: 5px solid red;
}

#vs {
    display: flex;
    align-self: center;
    margin-left: 20px;
    margin-right: 20px;
}

.new-fighter-form {
    display: flex;
    justify-content: center;
    margin: 2px;
}

.new-fighter-input {
    border: none;
    border-bottom: 1px solid black;
}

#fighter-table {
    max-height: 30vh;
    overflow-x: hidden;
    
}

#fighter-list {
    background-color: #F9B3D1;
    border: 5px solid #101935;
    
}

#fighter-one {
    display: flex;
    justify-content: space-around;
}

#team-two {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}








/* Alert div formatting */
.alert {
    color: aqua;
    padding: 10px;
    margin: 10px 5px 10px 5px;
    display: flex;
    justify-content: center;
}

.success {
    background-color: green;
}

.failure {
    background-color: red;
}